<ion-view view-title="Home">
    <ion-content>
    	<form>
            <button class="button button-stable button-block " ui-sref="app.startIom">검침</button>
            <button class="button button-stable button-block " ui-sref="app.board">민원</button>
            <button class="button button-stable button-block " ui-sref="signin">점검</button>
            <button class="button button-stable button-block ">교체</button>
            <button class="button button-stable button-block ">실사</button>
            <button class="button button-stable button-block ">체납</button>
            <button class="button button-stable button-block ">종료</button>
        </form>
    </ion-content>
</ion-view>