<ion-view view-title="Home">
    <ion-content>
    	<form>
            <div ng-show="loginAfter">
            <button class="button button-stable button-block " ui-sref="app.startIom">검침</button>
            <button class="button button-stable button-block " ui-sref="app.board">민원</button>
            <button class="button button-stable button-block " ui-sref="signin">점검</button>
            <button class="button button-stable button-block ">교체</button>
            <button class="button button-stable button-block ">실사</button>
            <button class="button button-stable button-block ">체납</button>
            <button class="button button-stable button-block " ng-click="doLogout()">로그아웃</button>
            </div>

            <div ng-show="loginBefore">
                <button class="button button-stable button-block " ui-sref="app.startIom">검침</button>
                <button class="button button-stable button-block " ui-sref="app.board">민원</button>
                <button class="button button-stable button-block " ui-sref="app.loginList">사용자리스트</button>
            <button class="button button-positive button-block " ng-click="login()">로그인</button>   
            </div>
        </form>
    </ion-content>
</ion-view>