<ion-view title="검침정보확인">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">검침년월</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">검침차수</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">검침일자</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">검침대상</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">검침완료</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">미완료</span>
                <input type="text" placeholder="">
            </label>
            <div class="button-bar">
                <button class="button button-stable button-block ">종료</button>
                <button class="button button-stable button-block ">송수신</button>
                <button class="button button-stable button-block ">시작</button>
            </div>
        </form>
    </ion-content>
</ion-view>