<ion-view title="검침세대리스트">
    <ion-content overflow-scroll="true" padding="true" class="has-header"> 
        <form class="list" ng-controller="iomCtrl3">
            <label class="item item-input">
                {{sectorNm}}<br />{{sectorCd}}
            </label>
            <div>
                <p></p>
            </div>       

            <div class="row header">
                <div class="col col-67">주소</div>
                <div class="col">지침</div> 
                <div class="col">코드</div>
                <div class="col">사용량</div> 
            </div>

            <div class="row" ng-repeat="item in items" ui-sref="app.iom04({iomYM:item.IOM_YM, custCD:item.CUST_CD})">
                <div class="col col-67" ng-class="'color' + ($index % 2)">{{item.SECTOR_NM}}<br \>{{item.addr}}</div>
                <div class="col" ng-class="'color' + ($index % 2)">{{item.GAG}}</div>
                <div class="col" ng-class="'color' + ($index % 2)">{{item.IOM_CD}}</div>
                <div class="col" ng-class="'color' + ($index % 2)"></div>
            </div>
        </form>
    </ion-content>
</ion-view>
<style type="text/css">
.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px white;
    border-bottom-style: none;
    border-right-style: none;
} 

.color0 {
    background-color: lightyellow;
}

.color1 {
    background-color: lightblue;
}

</style>