<ion-view title="검침정보확인">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-controller="iomCtrl">
            <label class="item item-input">
                <span class="input-label">검침년월</span>
                <select name="mySelect" id="mySelect"
                    ng-options="option.name for option in item.year track by option.id"
                    ng-model="selectItem.year"></select>
                <select name="mySelectmon" id="mySelectmon"
                    ng-options="option.name for option in item.month track by option.id"
                    ng-model="selectItem.month"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">검침차수</span>
                <select name="myOrder" id="myOrder"
                    ng-options="option.name for option in item.order track by option.id"
                    ng-model="selectItem.order"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">검침일자</span>
                <input type="text" placeholder="" ng-model="nowDate">
            </label>
            <div class="button-bar">
                <button class="button button-stable button-block " ng-click="doIomInit()">송수신</button>
                <button class="button button-stable button-block" ui-sref="app.iom02">시작</button>
            </div>
        </form>
    </ion-content>
</ion-view>