<ion-view title="계량기정보">
    <ion-content overflow-scroll="true" padding="true" class="has-header"> 
        <form class="list">
            <label class="item item-input">
                미소지움 1단지(건물)<br />
                남구 신정4동 851-1<br />
                미소지움1단지 105-1704
            </label>
            <div>
                <p></p>
            </div>       

            <div class="row">
                <div class="col">기물번호</div>
                <div class="col">052321053074</div>
            </div>
            <div class="row">
                <div class="col">제조사명</div>
                <div class="col">삼화미터텍</div>
                <div class="col">모델</div>
                <div class="col">G2.5</div>
            </div>
            <div class="row">
                <div class="col">등급</div>
                <div class="col">4등급</div>                             
                <div class="col">타입</div>
                <div class="col">좌타입</div>
            </div>
            <div class="row">
                <div class="col">유효년월</div>
                <div class="col">2016-04</div>
                <div class="col">신품구분</div>
                <div class="col">검정품</div>
            </div>
            <div class="row">
                <div class="col">실치구분</div>
                <div class="col">만기</div>
                <div class="col">설치장소</div>
                <div class="col">일반용(외벽)</div>
            </div>
            <div class="row">
                <div class="col">설치일자</div>
                <div class="col">2011-04-04</div>
                <div class="col">설치사유</div>
                <div class="col">만기</div>
            </div>
            <div class="row">
                <div class="col">봉인구분</div>
                <div class="col">케이스</div>
                <div class="col">봉인번호</div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">사용여부</div>
                <div class="col">사용</div>
                <div class="col">검침방법</div>
                <div class="col">일반식</div>
            </div>
            <div class="row">
                <div class="col">보정기유무</div>
                <div class="col">N</div>
                <div class="col">보정지수</div>
                <div class="col">1</div>
            </div>

            <hr />

            <button class="button button-stable button-block " ng-click="doBack()">확인</button>         
        </form>
    </ion-content>
</ion-view>
<style type="text/css">
.row .col:first-child {
    background-color:lightgrey;
}

.col {
    border: solid 1px white;
    border-bottom-style: none;
    border-right-style: none;
} 
.color0 {
    background-color: lightyellow;
}

.color1 {
    background-color: lightblue;
}

</style>